body {
  img {
    max-width:100%;
    height:auto;
  }

  .th {
    padding:rem-calc(10px);
    display:block;
    background:$darkGrey;
    text-align:center;
    margin:rem-calc(15px) 0;

    i {
      font-size:rem-calc(128px);
      color:$red;
      vertical-align:bottom;

      &:last-child {
        margin-left:rem-calc(10px);
      }
    }
  }

  .button {
    border-top:none;
    border-left:none;
    border-right:none;
    font-weight:normal;
    font-family:'Quicksand', sans-serif;
    padding:rem-calc(5px) rem-calc(40px);
  }

  .box {
    background:#fff;
    height:60px;
    line-height:rem-calc(50px);
    text-align:center;
    font-size:rem-calc(80px);
    position:relative;

    i {
      position:absolute;
      top:-9px;
      bottom:0;
      left:0;
      right:0;
    }
  }

  .block {
    width:100%;
    margin:rem-calc(10px) 0;
    height:rem-calc(150px);
    background:$darkGrey;
  }

  .border {
    position:relative;
    overflow:hidden;
    @include thumb($border-width: 10px, $box-shadow: 0 0 0 1px rgba($lightGrey, 0), $box-shadow-hover: 0 0 6px 1px rgba($lightGrey,0));

    // &.top-left-radius {
    //   @include border-top-left-radius(5px);
    // }
    // &.top-right-radius {
    //   @include border-top-right-radius(5px);
    // }
    // &.bottom-left-radius {
    //   @include border-bottom-left-radius(5px);
    // }
    // &.bottom-right-radius {
    //   @include border-bottom-right-radius(5px);
    // }

    img {
      width:100%;
      @include scale(1, 1, 800);
      @include transition-property(transform);
      @include transition-duration(0.4s);

      &:hover {
        @include scale(1.1, 1.1, 800);
        @include transition-property(transform);
        @include transition-duration(0.4s);
      }
    }

    .overlay {
      position:absolute;
      bottom:0;
      width:100%;
      background: rgb(0, 0, 0);
      background:rgba(0, 0, 0, 0.65);
      padding:rem-calc(15px) rem-calc(25px);

      h2 {
        margin:0;
        padding:0;
        @extend .text-left;
        @include background-image(linear-gradient(white, #cccccc, #aaaaaa));
        @include background-clip(text);

        a {
          padding:rem-calc(3px) rem-calc(6px);
          color:#fff;
          @include transition-property(color);
          @include transition-duration(0.2s);

          &:hover {
            color:$lightGrey;
            color:rgba($lightGrey, .7);
            @include transition-property(color);
            @include transition-duration(0.2s);
          }
        }
      }
    }
  }
}

#content {
  h1 {
    font-size:rem-calc(36px);
    font-weight:bold;
    color:$grey;
    text-transform:uppercase;

    a {
      color:$grey;
      @include transition-property(color);
      @include transition-duration(0.4s);

      &:hover {
        color:$red;
        @include transition-property(color);
        @include transition-duration(0.4s);
      }
    }
  }
  h3 {
    color:$red;
    font-size:rem-calc(20px);
  }
  h4 {
    color:$lightGrey;
    font-size:rem-calc(18px);
  }

  p {
    color:$grey;
    clear:both;
    font-size:rem-calc(16px);

    &.callout {
      line-height: rem-calc(40px);
      font-family:'Open Sans', sans-serif;
      font-size:rem-calc(24px);
      font-style:italic;
      color:$lightGrey;
      @include text-shadow(rgba($grey, 0.75) 1px 1px 0);

      &:first-letter {
        font-style:normal;
        float:left;
        font-size:rem-calc(76px);
        font-weight:bold;
        margin: rem-calc(10px) rem-calc(5px) 0 0;
        line-height: 0.8;
        @include text-shadow(rgba($grey, 0.65) 1px 1px 0);
      }
    }
    &.date {
      font-size:rem-calc(12px);
      margin:0 0 rem-calc(10px);
      height:rem-calc(35px);
      line-height:rem-calc(35px);
      clear:none;

      i {
        vertical-align:middle;
        display:inline-block;
        font-size:rem-calc(22px);
        margin-top:-7px;
        margin-right:rem-calc(10px);
        color:$red;
      }
    }
    &.categories {
      clear:none;
    }
  }
  ul,
  ol {
    li {
      color:$grey;
      margin-left:rem-calc(20px);
    }
  }

  .label {
    @include label(
      // This options sets label padding
      $padding: $label-padding,
      // This option sets label text-size
      $text-size:$label-font-sizing,
      // This option sets label background-color
      $bg:$red,
      // This option sets the radius of the label
      $radius:$label-radius
    );
    border:1px solid $darkRed;
    border-left:20px solid $darkRed;
  }

  article {
    padding:rem-calc(35px) rem-calc(15px) rem-calc(30px);
    border-bottom:1px solid $lightGrey;
    &:first-child {
      padding-top:0;
    }
    &:last-child {
      border:none;
      padding-bottom:0;
    }
  }
}

#portfolio {
  padding-bottom:rem-calc(20px);
  h1 {
    margin:rem-calc(15px) 0 0;
    color:$lightGrey;
    text-transform:uppercase;
  }
}

#services {
  padding-bottom:rem-calc(20px);
  h1 {
    margin:rem-calc(15px) 0 0;
    color:$grey;
    text-transform:uppercase;
  }
  p {
    color:#fff;
    @include text-shadow(rgba($darkGrey, 0.65) 1px 1px 0);
  }

  .services {
    h2 {
      font-family:'Quicksand', sans-serif;
      font-weight:600;
      font-size:rem-calc(18px);
      text-align:normal;
      text-transform:uppercase;

      @include breakpoint($small) {
        text-align:center;
      }
    }
    p {
      color:#fff;
      @include text-shadow(rgba($darkGrey, 0.65) 1px 1px 0);
    }
    .table {
      display: table;   /* Allow the centering to work */
      margin: 0 auto;

      .inline-list {
        li {
          margin-left:rem-calc(11px);

          &:first-child {
            margin-left:rem-calc(32px);

          }
        }
        i {
          font-size:rem-calc(30px);
          color:$grey;
          @include text-shadow(rgba($darkGrey, 0.85) 1px 1px 0);

          &.fi-foundation {
            line-height:rem-calc(32px);
          }
        }
      }
    }
  }
}

body {
  form {
    label {
      color:$lightGrey;
    }
  }
}

body.home {
  #content {
    h1 {
      margin-left:0;
    }
    .callout {
      p {
        line-height: rem-calc(40px);
        font-family:'Open Sans', sans-serif;
        font-size:rem-calc(24px);
        font-style:italic;
        color:$lightGrey;
        @include text-shadow(rgba($grey, 0.75) 1px 1px 0);
        margin-left:0;
        &:first-letter {
          float:none;
          font-size: rem-calc(24px);
          font-weight:normal;
          margin:0;
          line-height: 0.8;
        }
      }

      @include grid-span(1, 1);

      @include breakpoint($small) {
        display:block;
        @include grid-span(4, 1, $output-style: 'float');
      }
      @include breakpoint($medium) {
        @include grid-span(8, 1, $output-style: 'float');
      }
    }

    .technologies {
      @include grid-span(1, 1);

      @include breakpoint($small) {
        @include grid-span(2, 5, $output-style: 'float');
      }
      @include breakpoint($medium) {
        @include grid-span(4, 9, $output-style: 'float');
      }

      // margin-top:rem-calc(65px);

      @include breakpoint(1044px) {
        margin-top:0;
      }

      ul {
        width:100%;
        margin:0 auto;
      }

      li {
        margin-bottom:rem-calc(20px);
        @include float-span(4, $gutter: 0, $grid: 12);

        &:nth-child(1) {
          @include breakpoint($small) {
            @include float-span(3, 'first', $grid: 9);
          }
          @include breakpoint($medium) {
            @include float-span(3, 'first', $grid: 9);
          }
        }
        &:nth-child(2) {
          @include breakpoint($small) {
            @include float-span(3, $grid: 9);
          }
          @include breakpoint($medium) {
            @include float-span(3, $grid: 9);
          }
        }
        &:nth-child(3) {
          @include breakpoint($small) {
            @include float-span(3, 'last', $grid: 9);
          }
          @include breakpoint($medium) {
            @include float-span(3, 'last', $grid: 9);
          }
        }

        &:nth-child(4) {
          @include breakpoint($small) {
            @include float-span(3, 'first', $grid: 9);
          }
          @include breakpoint($medium) {
            @include float-span(3, 'first', $grid: 9);
          }
        }

        &:nth-child(5) {
          @include breakpoint($small) {
            @include float-span(3, $grid: 9);
          }
          @include breakpoint($medium) {
            @include float-span(3, $grid: 9);
          }
        }

        &:nth-child(6) {
          @include breakpoint($small) {
            @include float-span(3, 'last', $grid: 9);
          }
          @include breakpoint($medium) {
            @include float-span(3, 'last', $grid: 9);
          }
        }

        @extend .text-center;
      }

      i {
        font-size:rem-calc(56px);
        color:$red;
        @include text-shadow(rgba($darkGrey, 0.65) 1px 2px 0);

        @include breakpoint($small) {
          font-size:rem-calc(45px);
        }
        @include breakpoint($medium) {
          font-size:rem-calc(60px);
        }
      }
    }
  }
}

#comments,
#comments-form {
  padding:rem-calc(30px) 0;
  h1 {
    font-size:rem-calc(24px);
    font-weight:normal;
    text-transform:uppercase;
    color:#fff;

    @include text-shadow(rgba($darkGrey, 0.65) -1px 1px 0);
  }
}

#comments {
  h2 {
    color:$darkGrey;
    a {
      color:$darkGrey;
    }
  }

  p {
    color:$grey;

    &.date {
      font-size:rem-calc(12px);
      margin:0 0 rem-calc(10px);
      height:rem-calc(35px);
      line-height:rem-calc(35px);
      clear:none;
      color:#efefef;

      i {
        vertical-align:middle;
        display:inline-block;
        font-size:rem-calc(22px);
        margin-top:-7px;
        margin-right:10px;
      }
    }
  }

  article {
    @extend .clearfix;
    padding:rem-calc(15px) 0;
    border-bottom:1px solid $darkGrey;

    &:first-child {
    padding:0 0 rem-calc(15px);
    }

    &:last-child {
      border:none;
    }
  }
}

#footer {
  p {
    color:$lightGrey;
    font-size:rem-calc(10px);
    margin-bottom:0;
  }
  ul.sub-nav {
    margin-bottom:0;
    display:none;
    @include breakpoint($small) {
      display:block;
    }

    li {
      margin-left:rem-calc(5px);
    margin-bottom:0;
      a {
        font-size:rem-calc(10px);
        @include transition-property(background, color);
        @include transition-duration(0.4s);

        &:hover {
          @include transition-property(background, color);
          @include transition-duration(0.4s);
        }
      }
    }
  }
}
