$small: 40.063em; /* min-width 641px, tablet */
$medium: 64.063em;
// $large: 90.063em;

$grids: 1;
$grids: add-grid(6 at $small);
$grids: add-grid(12 at $medium);
// $grids: add-grid(12 at $large-range);
$gutters: 1/4;

* {
  @include box-sizing('border-box');
}

body {
  .row {
    // @include background-grid();
    padding:0 rem-calc(15px);

    .column,
    .columns {
      @include breakpoint($small) {
        padding:0;
      }
    }

    .avatar {
      display:none;

      @include breakpoint($small) {
        display:block;
        @include grid-span(1, 1, $output-style: 'float');
      }
      @include breakpoint($medium) {
        @include grid-span(1, 1, $output-style: 'float');
      }
    }
    .inputs {
      @include grid-span(1, 1);

      @include breakpoint($small) {
        @include grid-span(2, 2, $output-style: 'float');
      }
      @include breakpoint($medium) {
        @include grid-span(4, 2, $output-style: 'float');
      }
    }
    .textarea {
      @include grid-span(1, 1);

      @include breakpoint($small) {
        @include grid-span(3, 4, $output-style: 'float');
      }
      @include breakpoint($medium) {
        @include grid-span(7, 6, $output-style: 'float');
      }
    }
    .comment {
      @include grid-span(1, 1);

      @include breakpoint($small) {
        @include grid-span(5, 2, $output-style: 'float');
      }
      @include breakpoint($medium) {
        @include grid-span(11, 2, $output-style: 'float');
      }
    }
    .columns-4 {
      @include grid-span(1, 1);

      @include breakpoint($small) {
        @include grid-span(2, 5, $grid: 6, $output-style: 'float');
      }
      @include breakpoint($medium) {
        @include grid-span(4, 9, $output-style: 'float');
      }
    }
    .columns-8 {
      @include grid-span(1, 1);

      @include breakpoint($small) {
        @include grid-span(4, 1, $grid: 6, $output-style: 'float');
      }
      @include breakpoint($medium) {
        @include grid-span(8, 1, $output-style: 'float');
      }
    }
    .columns-12 {
      @include grid-span(1, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1, $grid: 6, $output-style: 'float');
      }
    }

    .services {
      @include grid-span(1, 1);

      @include breakpoint($small) {
        @include float-span(3);
      }
      @include breakpoint($medium) {
        @include float-span(3);
      }
      &:nth-child(odd) {
        @include breakpoint($small) {
          @include float-span(3, 'first');
        }
        @include breakpoint($medium) {
          @include float-span(3);
        }
      }
      &:nth-child(even) {
        @include breakpoint($small) {
          @include float-span(3, 'last');
        }
        @include breakpoint($medium) {
          @include float-span(3);
        }
      }

      &:first-child {
        @include breakpoint($medium) {
          @include float-span(3, 'first');
        }
      }
      &:last-child {
        @include breakpoint($medium) {
          @include float-span(3, 'last');
        }
      }
    }

    .project {
      @include grid-span(1, 1);
      margin-bottom:10px;

      &.top-left-radius {
        @include border-top-left-radius(0);
      }
      &.top-right-radius {
        @include border-top-right-radius(0);
      }
      &.bottom-left-radius {
        @include border-bottom-left-radius(0);
      }
      &.bottom-right-radius {
        @include border-bottom-right-radius(0);
      }

      @include breakpoint($small) {
        @include float-span(3);
        margin-right:0;
      }
      @include breakpoint($medium) {
        @include float-span(6);
        margin-right:0;
      }
    }
  }
}

