body {
  #topbar {
    background:$lightGrey;
    height:rem-calc(5px);
  }
  header {
    background:$darkGrey;
    min-height:rem-calc(81px);
    .row {
      padding:rem-calc(10px) 0 0 !important;
      height:100%;
    }
    nav#navigation {
      padding:0 rem-calc(15px);
      min-height:rem-calc(67px);
      h1 {
        float:left;
        font-family:'Quicksand', sans-serif;
        color:$lightGrey;
        margin-top:rem-calc(13px);
        font-size:rem-calc(30px);

        @include breakpoint($small) {
          font-size:rem-calc(35px);
        }
      }
      img {
        float:left;
        margin-right:rem-calc(8px);
      }
      &.expanded {
      padding:0;
        img {
          margin-left:rem-calc(15px);
        }
        .title-area {
          margin-right:rem-calc(15px);
        }
        .top-bar-section {
          ul.right {
            li {
              @include float-span(1, $grid: 3, $gutter: 0);

              a {
                width:100%;
                height:rem-calc(100px);
                line-height:rem-calc(50px);
                background:#fff;
                text-align:center;
                color:$darkGrey;
                padding-top:38px;
                border-bottom:1px solid #efefef;
                border-right:1px solid #efefef;
                @include transition-property(background, color);
                @include transition-duration(0.4s);

                @include radius(0);
                i {
                  font-size:rem-calc(32px);
                  line-height:.1;
                  display:block;
                }

                &:hover {
                  background:#efefef;
                  @include transition-property(background, color);
                  @include transition-duration(0.4s);
                  color:#9b9e9e;
                }
              }

              &:last-child {
                a {
                  border-right:none;
                }
              }

              &.active {
                a {
                  background:$red;
                  color:#fff;

                  &:hover {
                    background:$darkRed;
                    @include transition-property(background, color);
                    @include transition-duration(0.4s);
                  }
                }
              }
            }
          }
        }
      }
      .top-bar-section {
        ul {
           margin-top:rem-calc(25px);
          li {
            margin:0 rem-calc(3px);
            a {
              padding:10px 12px;
              @include radius(3px);
              line-height:0;
              height:0;
              @include transition-property(background);
              @include transition-duration(0.4s);

              i:before {
                line-height:0;
              }

              &:hover {
                @include transition-property(background);
                @include transition-duration(0.4s);
              }
            }

            &.active {
              a {
                // @include text-shadow(#000 1px 1px 1px);
              }
            }
          }
        }
      }
    }
  }
  #content {
    padding:rem-calc(50px) 0;

    aside {
      display:none;
      @include breakpoint($small) {
        display:block;
      }
    }
  }
  #portfolio {
    padding:rem-calc(50px) 0;

    .row {
      padding:0 rem-calc(15px);
    }
  }
  #portfolio,
  #comments-form {
    background:$grey;
  }

  #comments {
    .comment.columns {
      padding:0;
    }
    background:$lightGrey;
  }

  #services {
    padding:rem-calc(50px) 0;
    background:$lightGrey;
  }

  #footer {
    padding:rem-calc(25px) 0;
    background:$darkGrey;
  }
}
