@include breakpoint(1px) {
  body {
    header {
      nav#navigation {
        min-height: rem-calc(60px);
        .toggle-topbar.menu-icon {
          margin-top: rem-calc(-1px);
        }
      }
    }
  }
}