@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?9h46ku');
  src:url('../fonts/icomoon.eot?#iefix9h46ku') format('embedded-opentype'),
    url('../fonts/icomoon.woff?9h46ku') format('woff'),
    url('../fonts/icomoon.ttf?9h46ku') format('truetype'),
    url('../fonts/icomoon.svg?9h46ku#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size:rem-calc(24px);

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  &.middle {
    vertical-align:middle;
  }
}

.icon-alistapart:before {
  content: "\e600";
}
.icon-android:before {
  content: "\e601";
}
.icon-apple:before {
  content: "\e602";
}
.icon-aws:before {
  content: "\e603";
}
.icon-basecamp:before {
  content: "\e604";
}
.icon-bitbucket:before {
  content: "\e605";
}
.icon-bootstrap:before {
  content: "\e606";
}
.icon-codepen:before {
  content: "\e607";
}
.icon-coderwall:before {
  content: "\e608";
}
.icon-codeschool:before {
  content: "\e609";
}
.icon-coursera:before {
  content: "\e60a";
}
.icon-css3:before {
  content: "\e60b";
}
.icon-disqus:before {
  content: "\e60c";
}
.icon-dropbox:before {
  content: "\e60d";
}
.icon-drupal:before {
  content: "\e60e";
}
.icon-envato:before {
  content: "\e60f";
}
.icon-geeklist:before {
  content: "\e610";
}
.icon-github:before {
  content: "\e611";
}
.icon-html5:before {
  content: "\e612";
}
.icon-jquery:before {
  content: "\e613";
}
.icon-jqueryui:before {
  content: "\e614";
}
.icon-js:before {
  content: "\e626";
}
.icon-jsdb:before {
  content: "\e615";
}
.icon-jsfiddle:before {
  content: "\e616";
}
.icon-laravel:before {
  content: "\e617";
}
.icon-layoutsite:before {
  content: "\e627";
}
.icon-mediatemple:before {
  content: "\e618";
}
.icon-microformats:before {
  content: "\e619";
}
.icon-modernizr:before {
  content: "\e61a";
}
.icon-mysql:before {
  content: "\e61b";
}
.icon-php:before {
  content: "\e61c";
}
.icon-rails:before {
  content: "\e61d";
}
.icon-smashingmagazine:before {
  content: "\e61e";
}
.icon-squarespace:before {
  content: "\e61f";
}
.icon-stackexchange:before {
  content: "\e620";
}
.icon-stackoverflow:before {
  content: "\e621";
}
.icon-superuser:before {
  content: "\e622";
}
.icon-treehouse:before {
  content: "\e623";
}
.icon-w3c:before {
  content: "\e624";
}
.icon-wordpress:before {
  content: "\e625";
}
