body {
  background:$darkGrey;
  #topbar {
    background:$lightGrey;
    height:rem-calc(5px);
  }
  #content {
    .logo {
      width:400px;
      position:absolute;
      margin-left:auto;
      margin-right:auto;
      top:200px;
      left:0;
      right:0;
      h1 {
        float:left;
        font-family:'Quicksand', sans-serif;
        color:$lightGrey;
        margin-top:rem-calc(13px);
        font-size:rem-calc(30px);

        @include breakpoint($small) {
          font-size:rem-calc(35px);
        }
      }
      img {
        float:left;
        margin-right:rem-calc(8px);
      }
    }
  }
}